# Secrets
.env

# Environments
venv/
env/
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.DS_Store

# LangGraph checkpoints
checkpoints.db
checkpoints.db-journal
checkpoints.db-shm
checkpoints.db-wal

# Custom Stats DB
stats.db

# Vector Databases
chroma_db/
temp_faiss_index/

# Temporary / Scratch files
scratch/
uv.lock
