streamlit>=1.35.0
langgraph>=0.2.5
langchain>=0.2.14
langchain-core>=0.2.33
langchain-openai>=0.1.22
pydantic>=2.8.2
requests>=2.32.3
langchain-community>=0.2.10
google-search-results>=2.4.2
tavily-python>=0.3.3
arxiv>=2.1.0
pymupdf>=1.24.4
httpx>=0.27.0
faiss-cpu>=1.8.0
pypdf>=4.0.0
sentence-transformers>=2.6.1
langchain-huggingface>=0.0.3
